* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 600vh;
  background-color: burlywood;
}

.fondito {
  width: 100%;
  height: 100vh;

  background-image: url("https://img.vixdata.io/pd/jpg-large/es/sites/default/files/btg/curiosidades.batanga.com/files/Como-se-forma-la-nieve-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.fondito::after {
  content: "";
  background: rgba(0, 0, 0, 0.452);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-dodge;
}

.zindex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  height: 100%;
  width: 100%;
}

nav {
  position: relative;
}

ul {
  display: none;
}

input:checked ~ ul {
  display: block;
  padding: 0;
  /* position: absolute;
  top: 45px;
  left: 0; */
}

label {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid red;
  border-radius: 40px;
  line-height: 40px;
  font-weight: bold;
}

input {
  display: none;
}

li {
  display: block;
  background-color: gainsboro;
  color: green;
  margin: 0;
  padding: 25px;
  border: 1px solid red;
  cursor: pointer;
}

li:hover {
  background-color: hotpink;
  color: blue;
}

.iconitoPiola {
  font-size: 30px;
}
