@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap");

* {
  background: #333333;
}

.texto {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 55px;
  color: #bebebe;
}

.texto span {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 55px;
  color: #ffffff;
  background: #333333;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}
